<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="icon" th:href="@{/favicon.ico}"/>
<head>
    <title>Catmash</title>
    <div th:replace="fragments/head.html :: headerCSSJS"></div>

</head>
<body>

<div th:replace="fragments/bodyContent.html :: navbar"></div>

<div class="container top horizontal-center">

    <div th:replace="fragments/bodyContent.html :: mashList (${mashs}, ${notVotedMashes})"></div>

    <div th:replace="fragments/bodyContent.html :: mashAdding (${parameters})"></div>

</div>

</body>
</html>