<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="icon" th:href="@{/favicon.ico}" />
<head>
    <title th:text="${'Catmash - ' + mashName}"></title>

    <div th:replace="fragments/head.html :: headerCSSJS"></div>

</head>
<body>

    <div th:replace="fragments/bodyContent.html :: navbar"></div>

    <!--/* Display if person has already voted */-->
    <span th:if="${voted}">
        <div th:replace="fragments/bodyContent.html :: topTagrets (${mash}, ${topTargets})"></div>
    </span>

    <!--/* Display if person has not voted yet */-->
    <span th:if="${!voted}">
        <div th:replace="fragments/bodyContent.html :: mash (${mash}, ${targetsForMash})"></div>
    </span>

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

</body>
</html>